@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan+SC&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap');

body {
  --container-padding: 1.5rem;
  --container-max-width: 78rem;
  --primary-color: #383838;
  --secondary-color: #EE7796;
  font-family: 'Ubuntu Sans', Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}
